 <!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="./index.html"><img src="/ui/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="active">
                            <a asp-area="" asp-controller="Home" asp-action="Index" >Ana Sayfa</a>
                        </li>
                        <li>
                            <a href="#">Külçe Altın</a>
                        </li>
                        <li>
                            <a href="#">Ziynet Altın</a>
                        </li>
                        <li>
                            <a href="#">Külçe Gümüş</a>
                        </li>                        
                        <li><a href="#">İletişim</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        @if(!User.Identity.IsAuthenticated) @*LoginViewModel olmamışsa aşağıdakileri göster.*@
                        {
                            <a asp-area="" asp-controller="Account" asp-action="Login">Giriş Yap</a>
                            <a asp-area="" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Account" asp-action="Profile">Hesabım</a>
                            <a asp-area="" asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
                        }

                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        <li>
                            <a href="#">
                                <span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->