<!DOCTYPE html>
<html lang="tr">
  <head>
    <title>Ultras - Clothing Store eCommerce Store HTML Website Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="~/ui/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/~/ui/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/ui/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- script
    ================================================== -->
    <script src="~/ui/js/modernizr.js"></script>
  </head>
  <body>
    @*mvc>views>shared>PagePreloaderPartial*@
    @await Html.PartialAsync("_PagePreloaderPartial")

    @*mvc>views>shared>HeaderPartial*@    
    @await Html.PartialAsync("_HeaderPartial")
    
    @*mvc>views>home>index*@
    @RenderBody()     

    @await Html.PartialAsync("_FooterPartial")

    <script src="~/ui/js/jquery-1.11.0.min.js"></script>
    <script src="~/ui/js/plugins.js"></script>
    <script src="~/ui/js/script.js"></script>
  </body>
</html>
