<!DOCTYPE html>
<html lang="tr">
  <head>
    <title>Ultras - Clothing Store eCommerce Store HTML Website Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    
    @await Html.PartialAsync("_StylesPartial")    
    
    @*Sitillerin dışanda yenı bir stil kullanmak istediğimizde Style isimli sectiona girip yazabiliriz.*@
    @*false=her sayfada olmak zorunde değilsin, istediğim sayfada kullanılacak demek.*@
    @await RenderSectionAsync("Styles", false) 
    
  </head>
  <body>
    @*mvc>views>shared>PagePreloaderPartial*@
    @await Html.PartialAsync("_PagePreloaderPartial")

    @*mvc>views>shared>HeaderPartial*@    
    @await Html.PartialAsync("_HeaderPartial")
    
    @*mvc>views>home>index*@
    @RenderBody()

    @*mvc>views>shared>FooterPartial*@
    @await Html.PartialAsync("_FooterPartial")
    
    @await Html.PartialAsync("_ScriptsPartial")

    @*JavaScriptlerin dışanda yenı bir javascript kullanmak istediğimizde Scripts isimli sectiona girip yazabiliriz.*@
    @await RenderSectionAsync("Scripts", false)
  </body>
</html>
