<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__address">
                        <h5>İletişim Bilgileri</h5>
                        <ul>
                            <li>
                                <h6><i class="fa fa-map-marker"></i> Adres</h6>
                                <p>Yeditepe mah. Gaziantep / TÜRKİYE CUMHURİYETİ</p>
                            </li>
                            <li>
                                <h6><i class="fa fa-phone"></i> Telefon</h6>
                                <p><span>555-444-33222</span><span>555-444-33222</span></p>
                            </li>
                            <li>
                                <h6><i class="fa fa-headphones"></i> Destek</h6>
                                <p>mslmhanerol@gmail.com</p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact__form">
                        <h5>MESAJ ALANI</h5>
                        <form action="#">
                            <input type="text" placeholder="Adınız">
                            <input type="text" placeholder="Email Adresiniz">
                            <input type="text" placeholder="Başlık">
                            <textarea placeholder="İçerik"></textarea>
                            <button type="submit" class="site-btn">Mesajı Gönder</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__map">
                    <iframe id="map-canvas" class="map_part" width="600" height="450" frameborder="0"
                            scrolling="no" marginheight="0" marginwidth="0"
                            src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=gaziantep&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
                        Powered
                        by <a href="https://embedgooglemaps.com">html embed google maps</a> and <a href="https://gamstopcancel.com/">
                            how to get around gamstop
                        </a>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
