@model List<CategoryViewModel>
@*Category*@
<section id="latest-collection">
    <div class="container">
        <div class="product-collection row">
            <div class="col-lg-7 col-md-12 left-content">
                <div class="collection-item">
                    <div class="products-thumb">
                        <img src="images/collection-item1.jpg" alt="collection item" class="large-image image-rounded">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 product-entry">
                        <div class="categories">casual collection</div>
                        <h3 class="item-title">Külçe Altın</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim massa diam elementum.</p>
                        <div class="btn-wrap">
                            <a href="shop.html" class="d-flex align-items-center">
                                Ürünleri İncele <i class="icon icon-arrow-io"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 right-content flex-wrap">
                <div class="collection-item top-item">
                    <div class="products-thumb">
                        <img src="images/collection-item2.jpg" alt="collection item" class="small-image image-rounded">
                    </div>
                    <div class="col-md-6 product-entry">
                        <div class="categories">Basic Collection</div>
                        <h3 class="item-title">Ziynet Altın</h3>
                        <div class="btn-wrap">
                            <a href="shop.html" class="d-flex align-items-center">
                                Ürünleri İncele <i class="icon icon-arrow-io"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="collection-item bottom-item">
                    <div class="products-thumb">
                        <img src="images/collection-item3.jpg" alt="collection item" class="small-image image-rounded">
                    </div>
                    <div class="col-md-6 product-entry">
                        <div class="categories">Best Selling Product</div>
                        <h3 class="item-title">Külçe Gümüş</h3>
                        <div class="btn-wrap">
                            <a href="shop.html" class="d-flex align-items-center">
                                Ürünleri İncele <i class="icon icon-arrow-io"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>