@model List<ProductViewModel>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-6 text-primary">Ürünler</h1>
        </div>
        <div class=" col-md-6">
            <button class="btn btn-success float-end">Ürün Ekle</button>
        </div>
    </div>

</div>