<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="alert alert-danger">
                    Bu alana erişim yetkiniz bulunmamaktadır. Detaylı bilgi için yöneticiye başvurunuz.
                </span>
            </div>
        </div>
    </div>
</section>