@*4.Burası. 5.adım MVC>Controller>AccountController>public IActionResult Login(LoginViewModel*@
@model LoginViewModel
<div class="container w-25 mt-5">
    <h5 class="display-4">Giriş Yap</h5>
    <hr />
    <form asp-area="" asp-controller="Account" asp-action="Login" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group mb-2">
                    <label asp-for="UserName"></label>
                    <input class="form-control" asp-for="UserName" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group mb-2">
                    <label asp-for="Password"></label>
                    <input class="form-control" asp-for="Password" />
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <button type="submit" class="btn btn-success w-100 btn-lg">Giriş Yap</button>

            </div>

        </div>
    </form>
</div>