@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @foreach (var p in Model)
        {
            
        }
    </div>

</div>


